@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* outline: 1px solid red; */
}
body {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* NOTE: This is a general tag, be careful with changes */
h1 {
    color: white;
    z-index: 5;
    position: absolute;
    bottom: 18%;
    left: 3rem;
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
}

p {
    color: white;
    z-index: 5;
    position: absolute;
    bottom: 8%;
    left: 3rem;
    font-size: 1.2rem;
    font-family: 'Exo 2', sans-serif;
    width: 40%;
}

.my_carousel-container {
    height: 700px;
    width: 1400px;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}
.carousel-item {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}

.my_carousel-label {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.carousel-item-label {
    width: calc(100% / 5);
    height: 140px;
    border-radius: 0.5rem;
    box-shadow: 5px 10px 18px #888888;
    overflow: hidden;
}

.active-frame {
    display: block;
}

.active-frame-label {
    outline: 3px solid red;
}

.carousel-inner-shadow {
    background: linear-gradient(180deg, rgba(255,255,255,0) 45%, rgba(3,3,3,1) 100%);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#prevButton, #nextButton {
    width: 60px;
    height: 60px;
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 4;
}

#prevButton {
    top: 50%;
    left: 0;
    padding-left: 1rem;
    transform: translateY(-50%);
    border-radius: 0 30% 30% 0;
}

#nextButton {
    top: 50%;
    right: 0;
    padding-right: 1rem;
    transform: translateY(-50%);
    border-radius: 30% 0 0 30%;
}

.my_carousel-container:hover #prevButton,
.my_carousel-container:hover #nextButton {
    opacity: 1; /* Change opacity to 1 on hover */
}